<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    {%load static %}
    <link
      href="{% static 'searchbox.css' %}"
      type="text/css"
      rel="Stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="searchbox">
      <div class="search_heading">Flight Search</div>
      <div class="search_form">
        <form action="." method="get">
          <div class="search">
            <div class="search1">
              <div id="source" class="formelem">
                <label for="source">Source</label>
                <input type="text" name="source" id="source" />
              </div>
              <div id="destination" class="formelem">
                <label for="destination">Destination</label>
                <input type="text" name="destination" id="destination" />
              </div>
              <div class="formelem">
                <label for="date">Date</label>
                <input type="date" name="start_time" id="date" />
              </div>
            </div>
            <div class="search2">
              {% comment %}
              <div class="date">
                <label for="date">Date</label>
                <input type="date" name="date" id="date" />
              </div>
              {% endcomment %}
              <div class="searchbutton">
                <center><input type="submit" value="Search" /></center>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- {% for flight in data %}
    <form method="get" action="seats/">
      <input type="hidden" name="flight_id" value="{{flight.id}}" />
      <div class="flightbox">
        <div class="box1">{{flight.name}}</div>
        <div class="box2">
          <div class="side1">
            <div class="time">{{flight.start_time}}</div>
            <div class="source">{{flight.source}}</div>
          </div>
          <div class="side2">---------------------------------------</div>
          <div class="side3">
            <div class="end_time">{{flight.end_time}}</div>
            <div class="destination">{{flight.destination}}</div>
          </div>
        </div>
        <div class="box3">&#8377;{{flight.price}}</div>
        <div class="box4">
          <input type="submit" value="Book Seats" />
        </div>
      </div>
    </form>
    {% endfor %} -->
  </body>
</html>
